@charset "UTF-8";
@keyframes animation__loader {
  0% {
    transform: translate(0) rotate(90deg);
    transform-origin: 0% 50%;
  }
  50% {
    transform: translate(0px) rotate(120deg);
    transform-origin: 0% 50%;
  }
  100% {
    transform: translate(0) rotate(60deg);
    transform-origin: 0% 50%;
    display: none;
  }
}
@keyframes end__loader {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    display: none;
  }
}
body {
  font-family: "Roboto";
  margin: 0;
  background-color: #f6f6f6;
}

.loader__container {
  background-color: white;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__container .loader__bar {
  background-color: #9356dc;
  border: 2px solid #353535;
  border-radius: 7px;
  width: 175px;
  height: 13px;
  margin-left: 187.5px;
  animation: animation__loader 2.7s forwards;
}

.end__loader {
  animation: end__loader 0ms 2.7s forwards;
}

.main_container {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  background-color: white;
}
header .header_logo {
  width: 52.53%;
}

.research--bar__background {
  background-color: #eaeaea;
  width: 100%;
  height: 44.24%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.research--bar__background .fa-solid, .research--bar__background .fa-location-dot {
  color: #353535;
}
.research--bar__background ::-moz-placeholder {
  color: #353535;
  font-family: "Roboto";
}
.research--bar__background ::placeholder {
  color: #353535;
  font-family: "Roboto";
}

.homepage__wrap {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.homepage__wrap .main__title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-top: 33px;
  margin-bottom: 13px;
}
.homepage__wrap .sub__title {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 25px;
}
.homepage__wrap .button__explore-restaurants {
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  border: 0;
  width: 218px;
  height: 50px;
  margin-bottom: 60px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.homepage__wrap .button__explore-restaurants .btn__explore--animation {
  transition: background-color box-shadowé 400ms both;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.homepage__wrap .button__explore-restaurants .btn__explore--animation :hover {
  background-color: linear-gradient(#ff79da, #9356dc) brightness(25%);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078) brightness(25%);
}

.function__flex--column {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.function__flex--column .title__function {
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
}
.function__flex--column .num__circle {
  color: white;
  font-size: 14.18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 0;
  border-radius: 24px;
  margin-left: -18px;
  background-color: #9356dc;
}
.function__flex--column .button__function {
  width: 322.49px;
  height: 72.38px;
  border: 0;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  margin-left: 32.51px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.function__flex--column .function__icon {
  margin-left: 37px;
  margin-right: 25px;
}
.function__flex--column .fa-mobile-screen-button {
  width: 13.02px;
  height: 19.9px;
  color: #7e7e7e;
}
.function__flex--column .fa-list-ul {
  height: 15.92px;
  color: #7e7e7e;
}
.function__flex--column .fa-store {
  height: 17.91px;
  color: #9356dc;
}

.title__restaurants {
  margin-top: 45px;
  margin-left: 20px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  width: 275px;
  height: 68px;
}

.cards__flex {
  width: 340px;
  height: 1058px;
  margin-left: 17px;
  margin-right: 18px;
}
.cards__flex .card {
  width: 340px;
  border: 0;
  border-radius: 15px;
  background-color: white;
}
.cards__flex .img__card {
  width: 100%;
  height: 174px;
  border: 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards__flex .badge__nouveau {
  width: 80px;
  height: 29px;
  color: #008766;
  background-color: #99e2d0;
  font-size: 14px;
  font-weight: 500;
  margin-top: 13px;
  margin-left: 248px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.cards__flex .name__restaurants {
  font-size: 18px;
  font-weight: 700;
  margin: 13px 0 0 13px;
}
.cards__flex .subname__restaurants {
  font-size: 17px;
  font-weight: 300;
  margin-left: 13px;
  margin-top: 0;
  margin-bottom: 13px;
  padding-bottom: 13px;
}
.cards__flex .flex__txt--restaurants {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cards__flex .fa-regular {
  width: 22px;
  height: 21px;
}
.cards__flex .fa-heart {
  margin-right: 25px;
  margin-bottom: -15px;
}
.cards__flex .heart__container {
  position: relative;
  margin-top: 25px;
  font-size: 22px;
}
.cards__flex .heart__container .full__heart {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 6px;
  z-index: 10;
  transition: opacity 500ms ease-in-out;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}
.cards__flex .heart__container .full__heart:hover {
  opacity: 1;
}

.background__footer {
  width: 100%;
  background-color: #353535;
}
.background__footer .logo__footer {
  font-family: "Shrikhand", serif;
}
.background__footer .txt--logo__footer {
  font-size: 18px;
  font-weight: 400;
  margin-top: 22px;
  margin-bottom: 16px;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
}

.flex__footer {
  display: flex;
  flex-direction: column;
}

.margin__footer {
  height: 186px;
  margin-left: 25px;
  color: white;
}

.directionRow__footer {
  display: flex;
  flex-direction: row;
}
.directionRow__footer .fa-utensils {
  width: 11px;
  height: 13px;
  margin-top: 2px;
}
.directionRow__footer .fa-handshake-angle {
  width: 11.92px;
  height: 13px;
}
.directionRow__footer .first--title__footer {
  font-size: 16px;
  font-weight: 500;
  width: 168px;
  height: 19px;
  margin: 0 0 7px 15px;
}

.second--title__footer {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 7px;
}/*# sourceMappingURL=styles.css.map */