@keyframes animation__loader {
  0% {
    transform: translate(0) rotate(90deg);
    transform-origin: 0% 50%;
  }
  50% {
    transform: translate(0px) rotate(120deg);
    transform-origin: 0% 50%;
  }
  100% {
    transform: translate(0) rotate(60deg);
    transform-origin: 0% 50%;
    display: none;
  }
}
@keyframes end__loader {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    display: none;
  }
}
body {
  font-family: "Roboto";
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #f6f6f6;
  max-width: 1440px;
}

.loader__container {
  background-color: white;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__container .loader__bar {
  background-color: #9356dc;
  border: 2px solid #353535;
  border-radius: 7px;
  width: 175px;
  height: 13px;
  margin-left: 187.5px;
  animation: animation__loader 2.7s forwards;
}

.end__loader {
  animation: end__loader 0ms 2.7s forwards;
}

.main_container {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  background-color: white;
}
header .header_logo {
  width: 200px;
}

.research--bar__background {
  background-color: #eaeaea;
  box-shadow: inset 0px 8px 16px -5px rgba(126, 126, 126, 0.47);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
.research--bar__background .fa-solid,
.research--bar__background .fa-location-dot {
  color: #353535;
  margin-right: 10px;
  left: 35px;
  position: relative;
}
.research--bar__background .research-edit {
  background-color: #eaeaea;
  border: 0;
  height: 25px;
  margin-top: 13px;
  text-align: center;
}
.research--bar__background ::-moz-placeholder {
  color: #353535;
  font-family: "Roboto";
}
.research--bar__background ::placeholder {
  color: #353535;
  font-family: "Roboto";
}

.infos__alignements {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.infos__alignements .main__title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-top: 33px;
  margin-bottom: 13px;
}
.infos__alignements .sub__title {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 25px;
}
.infos__alignements .btn__container {
  position: relative;
}
.infos__alignements .btn__container .second--btn__explore {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  background: linear-gradient(#ff79da, #9356dc);
  filter: brightness(120%);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1490196078);
  color: white;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  border: 0;
  width: 218px;
  height: 50px;
  margin-bottom: 60px;
  transition: opacity 500ms ease-in-out;
}
.infos__alignements .btn__container .second--btn__explore:hover {
  opacity: 1;
}
.infos__alignements .btn__container .button__explore-restaurants {
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  border: 0;
  width: 218px;
  height: 50px;
  margin-bottom: 60px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.function__flex--column {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.function__flex--column .title__function {
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
}
.function__flex--column .num__circle {
  color: white;
  font-size: 14.18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 0;
  border-radius: 24px;
  margin-left: -18px;
  background-color: #9356dc;
}
.function__flex--column .btn__function--flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.function__flex--column .button__function {
  background-color: #f6f6f6;
  width: 322.49px;
  height: 72.38px;
  border: 0;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  margin-left: 32.51px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.function__flex--column .function__icon {
  margin-left: 37px;
  margin-right: 25px;
}
.function__flex--column .fa-mobile-screen-button {
  width: 13.02px;
  height: 19.9px;
  color: #7e7e7e;
}
.function__flex--column .fa-list-ul {
  height: 15.92px;
  color: #7e7e7e;
}
.function__flex--column .fa-store {
  height: 17.91px;
  color: #9356dc;
}

.title__restaurants {
  margin-top: 45px;
  margin-left: 20px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  width: 275px;
  height: 68px;
}

.margin__cards {
  position: relative;
  top: -25px;
  width: 340px;
  height: 1058px;
  gap: 13px;
  margin-left: auto;
  margin-right: auto;
}
.margin__cards .card {
  width: 340px;
  border: 0;
  border-radius: 15px;
  position: relative;
  background-color: white;
}
.margin__cards .img__card {
  width: 100%;
  height: 174px;
  border: 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.margin__cards .badge__nouveau {
  width: 80px;
  height: 29px;
  color: #008766;
  background-color: #99e2d0;
  font-size: 14px;
  font-weight: 500;
  margin-top: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 18px;
}
.margin__cards .name__restaurants {
  font-size: 18px;
  font-weight: 700;
  margin: 13px 0 0 13px;
}
.margin__cards .subname__restaurants {
  font-size: 17px;
  font-weight: 300;
  margin-left: 13px;
  margin-top: 0;
}
.margin__cards .flex__txt--restaurants {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.margin__cards .fa-regular {
  width: 22px;
  height: 21px;
}
.margin__cards .fa-heart {
  height: 21px;
  margin-right: 25px;
  margin-bottom: -15px;
}
.margin__cards .heart__container {
  margin-top: 25px;
  font-size: 22px;
}
.margin__cards .heart__container .full__heart {
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 27px;
  z-index: 10;
  transition: opacity 500ms ease-in-out;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}
.margin__cards .heart__container .full__heart:hover {
  opacity: 1;
}

.background__footer {
  width: 100%;
  background-color: #353535;
}
.background__footer .logo__footer {
  font-family: "Shrikhand", serif;
}
.background__footer .txt--logo__footer {
  font-size: 18px;
  font-weight: 400;
  margin-top: 22px;
  margin-bottom: 16px;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
}

.flex__footer {
  display: flex;
  flex-direction: column;
}

.margin__footer {
  height: 186px;
  margin-left: 25px;
  color: white;
}

.directionRow__footer {
  display: flex;
  flex-direction: row;
}
.directionRow__footer .fa-utensils {
  width: 11px;
  height: 13px;
  margin-top: 2px;
}
.directionRow__footer .fa-handshake-angle {
  width: 11.92px;
  height: 13px;
}
.directionRow__footer .first--title__footer {
  font-size: 16px;
  font-weight: 500;
  width: 168px;
  margin: 0 0 7px 15px;
}

.second--title__footer {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-right: 45px;
  margin-bottom: 7px;
  text-decoration: none;
  color: white;
}

/* Medium devices (tablets, larger than 767.98px) */
@media (min-width: 767.98px) {
  .margin__cards {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .margin__cards .full__heart {
    bottom: 44px !important;
  }
  .section__cards {
    margin-bottom: 40px;
  }
  .cards__responsive {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-bottom: 50px;
  }
  .directionRow__footer--responsive {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .txt--logo__footer {
    margin-top: 0 !important;
    text-align: center;
  }
  .margin__footer {
    height: 120px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/* Larges devices (desktop, larger than 1024px) */
@media (min-width: 1024px) {
  header {
    height: 96px;
  }
  .main__title {
    font-size: 40px !important;
  }
  .title__restaurants {
    margin-top: 30px;
    margin-left: 180px;
    margin-bottom: 37px;
    width: 268.72px;
    height: 28px;
  }
  .section__cards {
    width: 100%;
    height: 608px;
    gap: 28px;
  }
  .section__cards .margin__cards {
    display: block;
    position: initial;
    width: 75%;
    height: 552px;
    margin-left: 180px;
    margin-right: 180px;
  }
  .section__cards .margin__cards .full__heart {
    bottom: 40px !important;
  }
  .section__cards .margin__cards .cards__responsive {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 50px;
  }
  .section__cards .margin__cards .card {
    width: 490px;
    height: 251px;
  }
  .flex__footer {
    height: 114px;
  }
  .flex__footer .margin__footer {
    height: 100%;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 64px;
    margin-left: 39%;
  }
  .flex__footer .margin__footer .txt--logo__footer {
    margin-right: 10px;
  }
  .flex__footer .margin__footer .second--title__footer {
    margin-right: 7%;
    margin-left: -20%;
  }
}
/*   Breakpoint 1280px   */
@media (min-width: 1280px) {
  .margin__footer {
    position: relative;
  }
  .margin__footer .txt--logo__footer {
    position: absolute;
    right: 90px;
  }
}/*# sourceMappingURL=styles.css.map */