// Variables

// Couleurs

$Background: #f6f6f6;
$Grey: #353535;
$Grey_brighter: #7e7e7e;
$Grey_lighter: #eaeaea;
$Secondary: #ff79da;
$Primary: #9356dc;
$Green: #99e2d0;
$Green_Font: #008766;
$black: black;
$white: white;

// Mixins

@mixin background__white {
  background-color: $white;
}

@mixin btn__commander {
  color: $white;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  border: 0;
  width: 186px;
  height: 50px;
}

@mixin title__plats {
  width: 287px;
  margin-top: 0;
  margin-left: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

//keyframes

@keyframes animation__entrees {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes animation__plats {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes animation__desserts {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

// General

body {
  font-family: "Roboto";
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: $Background;
  max-width: 1440px;
}

// Homepage

.main_container {
  width: 100%;
}
.logo__alignement {
  .header_logo {
    width: 200px;
    margin-top: 14px;
    margin-bottom: 13px;
  }
  .fa-arrow-left {
    color: $Grey;
    text-decoration: none;
    position: absolute;
    right: 42px;
    left: 17px;
    margin: 7px 6.8px 7px 6px;
    width: 17.2px;
    height: 16px;
  }
  height: 63px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include background__white;
}
.img__restaurant {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
.menus__border {
  .flex__title {
    .title__restaurant {
      font-family: "Shrikhand", serif;

      height: 27px;
      font-weight: 400;
      font-size: 28px;
      margin-top: 32px;
    }
    .fa-regular {
      width: 22px;
      height: 21px;
    }
    .heart__container {
      .full__heart {
        &:hover {
          opacity: 1;
        }
        opacity: 0;
        position: absolute;
        left: 0;
        top: 2px;
        z-index: 10;
        transition: opacity 500ms ease-in-out;
        background: linear-gradient($Primary, $Secondary);
        background-clip: border-box;
        -webkit-background-clip: text;
        color: transparent;
      }
      top: 40px;
      left: 35px;
      font-size: 22px;
      height: 22px;
      position: relative;
    }
    display: flex;
    flex-direction: row;
    width: 341px;
    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: 40px;
  }
  .margin__cards {
    .animation__entrees {
      animation: animation__entrees 500ms 1s ease-in-out forwards;
    }
    .animation__plats {
      animation: animation__plats 500ms 2s ease-in-out forwards;
    }
    .animation__desserts {
      animation: animation__desserts 500ms 3s ease-in-out forwards;
    }
    .margins__plats {
      .title__partie--repas {
        font-weight: 300;
        font-size: 16px;
        margin: 0;
      }
      .border__title--plats {
        border: 1px solid $Green;
        margin-top: 5px;
        margin-bottom: 12px;
        width: 40px;
      }
      .card {
        .animation__checkbox {
          .fa-circle-check {
            font-size: 20px;
            color: $white;
          }
          margin-right: 0;
          transition: transform 750ms ease-in-out;
          background-color: $Green;
          width: 59px;
          height: 69px;
          border: 0;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          position: absolute;
          right: -59px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &:hover {
          .price__plats {
            transform: translateX(-59px);
          }
          .animation__checkbox {
            transform: translateX(-59px);
          }
          .main--title__plats,
          .sub--title__plats {
            width: 228px;
          }
        }
        .main--title__plats {
          height: 21px;
          font-weight: 500;
          font-size: 18px;
          margin-bottom: 5px;
          @include title__plats;
        }
        .direction__Row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        .sub--title__plats {
          height: 19px;
          font-weight: 300;
          font-size: 15.04px;
          margin-bottom: 0;
          @include title__plats;
        }
        .price__plats {
          transition: transform 750ms ease-in-out;
          margin: 0;
          margin-right: 13.5px;
          font-weight: 700;
          font-size: 15.04px;
          text-align: center;
        }
        .checkbox__plats {
          position: absolute;
          background-color: transparent;
          margin-left: 315px;
          margin-top: 20px;
        }
        input {
          border: 0;
          border-radius: 13px;
        }
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $white;
        width: 349px;
        height: 69px;
        border: 0;
        border-radius: 15.04px;
        margin-bottom: 12px;
        box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px #0000001a;
      }
      opacity: 0;
      width: 349px;
      height: 270px;
    }
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 13px;
    margin-right: 13px;
  }
  position: relative;
  background-color: $Background;
  background-clip: padding-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1055px;
  z-index: 100;
  bottom: 32px;
  height: 1110px;
  border: 0;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
}
.infos__alignements {
  .btn__container {
    .second--btn__commander {
      &:hover {
        opacity: 1;
      }
      opacity: 0;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 10;
      background: linear-gradient($Secondary, $Primary);
      filter: brightness(120%);
      box-shadow: 0px 6px 12px 0px #00000026;
      @include btn__commander;
      transition: opacity 500ms ease-in-out;
    }
    .button__commander {
      background: linear-gradient($Secondary, $Primary);
      @include btn__commander;
      box-shadow: 0px 2px 4px 0px #00000026;
    }
    position: relative;
  }
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background__footer {
  .logo__footer {
    font-family: "Shrikhand", serif;
  }
  .txt--logo__footer {
    font-size: 18px;
    font-weight: 400;
    margin-top: 22px;
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
  }
  width: 100%;
  background-color: $Grey;
}
.flex__footer {
  display: flex;
  flex-direction: column;
}
.margin__footer {
  height: 186px;
  margin-left: 25px;
  color: $white;
}
.directionRow__footer {
  .fa-utensils {
    width: 11px;
    height: 13px;
    margin-top: 2px;
  }
  .fa-handshake-angle {
    width: 11.92px;
    height: 13px;
  }
  .first--title__footer {
    font-size: 16px;
    font-weight: 500;
    width: 168px;
    margin: 0 0 7px 15px;
  }
  display: flex;
  flex-direction: row;
}
.second--title__footer {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-right: 45px;
  margin-bottom: 7px;
  text-decoration: none;
  color: $white;
}

//Media Queries

/* Medium devices (tablets, larger than 767.98px) */

@media (min-width: 767.98px) {
  .directionRow__footer--responsive {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .txt--logo__footer {
    margin-top: 0 !important;
    text-align: center;
  }
  .margin__footer {
    height: 120px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* Larges devices (desktop, larger than 1024px) */

@media (min-width: 1024px) {
  .flex__footer {
    .margin__footer {
      .txt--logo__footer {
        margin-right: 10px;
      }
      .second--title__footer {
        margin-right: 7%;
        margin-left: -20%;
      }
      height: 100%;
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin-top: 64px;
      margin-left: 39%;
    }
    height: 114px;
  }
}

/*   Breakpoints 1055px   */

@media (min-width: 1055px) {
  .menus__border {
    margin-left: auto;
    margin-right: auto;
    height: 1142px;
    width: 1055px;
  }
  .background__section {
    top: 340px;
    width: 100%;
    height: 1110px;
    background-color: $white;
  }
}

/*   Breakpoint 1280px   */

@media (min-width: 1280px) {
  .margin__footer {
    .txt--logo__footer {
      position: absolute;
      right: 90px;
    }
    position: relative;
  }
}
