body {
  font-family: "Roboto";
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #f6f6f6;
  max-width: 1440px;
}

.main_container {
  width: 100%;
}

.logo__alignement {
  height: 63px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.logo__alignement .header_logo {
  width: 200px;
  margin-top: 14px;
  margin-bottom: 13px;
}
.logo__alignement .fa-arrow-left {
  color: #353535;
  text-decoration: none;
  position: absolute;
  right: 42px;
  left: 17px;
  margin: 7px 6.8px 7px 6px;
  width: 17.2px;
  height: 16px;
}

.img__restaurant {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menus__border {
  position: relative;
  background-color: #f6f6f6;
  background-clip: padding-box;
  width: 100%;
  z-index: 100;
  bottom: 32px;
  height: 1000px;
  border: 0;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
}
.menus__border .flex__title {
  display: flex;
  flex-direction: row;
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 40px;
}
.menus__border .flex__title .title__restaurant {
  font-family: "Shrikhand", serif;
  width: 341px;
  height: 27px;
  font-weight: 400;
  font-size: 28px;
  margin-top: 32px;
}
.menus__border .flex__title .fa-regular {
  width: 22px;
  height: 21px;
}
.menus__border .flex__title .heart__container {
  margin-top: 40px;
  margin-right: 24px;
  font-size: 22px;
  position: relative;
}
.menus__border .flex__title .heart__container .full__heart {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 18px;
  z-index: 10;
  transition: opacity 500ms ease-in-out;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}
.menus__border .flex__title .heart__container .full__heart:hover {
  opacity: 1;
}
.menus__border .margin__cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 13px;
  margin-right: 13px;
}
.menus__border .margin__cards .margins__plats {
  width: 349px;
  height: 270px;
}
.menus__border .margin__cards .margins__plats .title__partie--repas {
  font-weight: 300;
  font-size: 16px;
  margin: 0;
}
.menus__border .margin__cards .margins__plats .border__title--plats {
  border: 1px solid #99e2d0;
  margin-top: 5px;
  margin-bottom: 12px;
  width: 40px;
}
.menus__border .margin__cards .margins__plats .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 349px;
  height: 69px;
  border: 0;
  border-radius: 15.04px;
  margin-bottom: 12px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
}
.menus__border .margin__cards .margins__plats .card .main--title__plats {
  width: 287px;
  height: 21px;
  font-weight: 500;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: 15px;
}
.menus__border .margin__cards .margins__plats .card .direction__Row {
  display: flex;
  flex-direction: row;
}
.menus__border .margin__cards .margins__plats .card .sub--title__plats {
  width: 287px;
  height: 19px;
  font-weight: 300;
  font-size: 15.04px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
}
.menus__border .margin__cards .margins__plats .card .price__plats {
  margin: 0;
  font-weight: 700;
  font-size: 15.04px;
  text-align: center;
}

.infos__alignements {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infos__alignements .btn__container {
  position: relative;
}
.infos__alignements .btn__container .second--btn__commander {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  background: linear-gradient(#ff79da, #9356dc);
  filter: brightness(120%);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1490196078);
  color: white;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  border: 0;
  width: 186px;
  height: 50px;
  margin-bottom: 40px;
  transition: opacity 500ms ease-in-out;
}
.infos__alignements .btn__container .second--btn__commander:hover {
  opacity: 1;
}
.infos__alignements .btn__container .button__commander {
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  border: 0;
  width: 186px;
  height: 50px;
  margin-bottom: 40px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.background__footer {
  width: 100%;
  background-color: #353535;
}
.background__footer .logo__footer {
  font-family: "Shrikhand", serif;
}
.background__footer .txt--logo__footer {
  font-size: 18px;
  font-weight: 400;
  margin-top: 22px;
  margin-bottom: 16px;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
}

.flex__footer {
  display: flex;
  flex-direction: column;
}

.margin__footer {
  height: 186px;
  margin-left: 25px;
  color: white;
}

.directionRow__footer {
  display: flex;
  flex-direction: row;
}
.directionRow__footer .fa-utensils {
  width: 11px;
  height: 13px;
  margin-top: 2px;
}
.directionRow__footer .fa-handshake-angle {
  width: 11.92px;
  height: 13px;
}
.directionRow__footer .first--title__footer {
  font-size: 16px;
  font-weight: 500;
  width: 168px;
  margin: 0 0 7px 15px;
}

.second--title__footer {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-right: 45px;
  margin-bottom: 7px;
  text-decoration: none;
  color: white;
}

/* Medium devices (tablets, larger than 767.98px) */
@media (min-width: 767.98px) {
  .directionRow__footer--responsive {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .txt--logo__footer {
    margin-top: 0 !important;
    text-align: center;
  }
  .margin__footer {
    height: 120px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/* Larges devices (desktop, larger than 1024px) */
@media (min-width: 1024px) {
  .logo__alignement {
    height: 96px;
  }
  .flex__footer {
    height: 114px;
  }
  .flex__footer .margin__footer {
    height: 100%;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 64px;
    margin-left: 39%;
  }
  .flex__footer .margin__footer .txt--logo__footer {
    margin-right: 10px;
  }
  .flex__footer .margin__footer .second--title__footer {
    margin-right: 7%;
    margin-left: -20%;
  }
}
@media (min-width: 1280px) {
  .margin__footer {
    position: relative;
  }
  .margin__footer .txt--logo__footer {
    position: absolute;
    right: 90px;
  }
}/*# sourceMappingURL=styles.css.map */